In [1]:
print("Witaj w JupyterLab!")

Witaj w JupyterLab!

In [2]:
import numpy as np
a = np.array([1,2,3])
print(a)

[1 2 3]

#Mój Pierwszy Notebook

In [1]:
import numpy as np
import pandas as pd

data = {'Kolumna1': [1,2,3], 'Kolumna2': ['A','B','C']}
df = pd.DataFrame(data)
print(df)

   Kolumna1 Kolumna2
0         1        A
1         2        B
2         3        C

Kod importuje numpy i pandas, tworzy 2 kolumny i wyświetla DataFrame.