In [34]:
import pandas as pd
print("Biblioteka Pandas została zaimportowana jako pd.")

Biblioteka Pandas została zaimportowana jako pd.

In [6]:
dni_tygodnia = ['poniedziałek','wtorek','środa']
dni_tygodnia = pd.Series(dni_tygodnia)
print(dni_tygodnia)

0    poniedziałek
1          wtorek
2           środa
dtype: object

In [27]:
produkty = {
    'Nazwa': ['Suszarka', 'Lokówka', 'Żelazko', 'Pralka'],
    'Cena' : [79.99, 69.98, 49.99, 899.00],
    'Dostępność': [True, True, True, False]}
df = pd.DataFrame(produkty)
print(df)
print(f'\n{df.loc[:,'Nazwa']}')
print(f'\n{df.iloc[1]}')
print(f'\n{df[df['Cena'] > 50]}')
print(f'\n{df[df['Dostępność'] == True]}')

      Nazwa    Cena  Dostępność
0  Suszarka   79.99        True
1   Lokówka   69.98        True
2   Żelazko   49.99        True
3    Pralka  899.00       False

0    Suszarka
1     Lokówka
2     Żelazko
3      Pralka
Name: Nazwa, dtype: object

Nazwa         Lokówka
Cena            69.98
Dostępność       True
Name: 1, dtype: object

      Nazwa    Cena  Dostępność
0  Suszarka   79.99        True
1   Lokówka   69.98        True
3    Pralka  899.00       False

      Nazwa   Cena  Dostępność
0  Suszarka  79.99        True
1   Lokówka  69.98        True
2   Żelazko  49.99        True

In [63]:
#Wczytanie pliku CSV
df_produkty_z_csv = pd.read_csv('produkty.csv')
print("DataFrame wczytany z pliku 'produkty.csv':")
print(df_produkty_z_csv)

DataFrame wczytany z pliku 'produkty.csv':
   ID    Produkty    Kategoria  Cena     Stan
0   1      Laptop  Elektronika  1200     Nowy
1   2        Mysz  Elektronika    25  Używany
2   3  Klawiatura  Elektronika    75     Nowy
3   4     Monitor  Elektronika   300     Nowy
4   5     Książka   Literatura    30     Nowy
5   6    Długopis        Biuro     5     Nowy

In [64]:
#Wyświetlenie 3 pierwszych wyników z df
print(df_produkty_z_csv.head(3))

   ID    Produkty    Kategoria  Cena     Stan
0   1      Laptop  Elektronika  1200     Nowy
1   2        Mysz  Elektronika    25  Używany
2   3  Klawiatura  Elektronika    75     Nowy

In [65]:
#Wyświetlenie informacji o df
print(df_produkty_z_csv.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         6 non-null      int64
 1   Produkty   6 non-null      object
 2   Kategoria  6 non-null      object
 3   Cena       6 non-null      int64
 4   Stan       6 non-null      object
dtypes: int64(2), object(3)
memory usage: 372.0+ bytes
None

In [66]:
#Informacje o danych zawartch w kolumnach numerycznych
print(df_produkty_z_csv.describe())

             ID         Cena
count  6.000000     6.000000
mean   3.500000   272.500000
std    1.870829   467.255284
min    1.000000     5.000000
25%    2.250000    26.250000
50%    3.500000    52.500000
75%    4.750000   243.750000
max    6.000000  1200.000000

In [67]:
#Dodanie kolumny Marża_Procent
df_produkty_z_csv['Marża_Procent'] = 0.20
print(df_produkty_z_csv)

   ID    Produkty    Kategoria  Cena     Stan  Marża_Procent
0   1      Laptop  Elektronika  1200     Nowy            0.2
1   2        Mysz  Elektronika    25  Używany            0.2
2   3  Klawiatura  Elektronika    75     Nowy            0.2
3   4     Monitor  Elektronika   300     Nowy            0.2
4   5     Książka   Literatura    30     Nowy            0.2
5   6    Długopis        Biuro     5     Nowy            0.2

In [68]:
#Dodanie kolumny Cena_Sprzedazy będącej wynikiem mnożenia kolumny Cena razy + wartość z kolumny Marża_Procent
df_produkty_z_csv['Cena_Sprzedazy'] = df_produkty_z_csv['Cena']*(1+df_produkty_z_csv['Marża_Procent'])
print(df_produkty_z_csv)

   ID    Produkty    Kategoria  Cena     Stan  Marża_Procent  Cena_Sprzedazy
0   1      Laptop  Elektronika  1200     Nowy            0.2          1440.0
1   2        Mysz  Elektronika    25  Używany            0.2            30.0
2   3  Klawiatura  Elektronika    75     Nowy            0.2            90.0
3   4     Monitor  Elektronika   300     Nowy            0.2           360.0
4   5     Książka   Literatura    30     Nowy            0.2            36.0
5   6    Długopis        Biuro     5     Nowy            0.2             6.0

In [69]:
#Usunięcie kolumny ID
df_produkty_z_csv = df_produkty_z_csv.drop('ID', axis=1)
print(df_produkty_z_csv)

     Produkty    Kategoria  Cena     Stan  Marża_Procent  Cena_Sprzedazy
0      Laptop  Elektronika  1200     Nowy            0.2          1440.0
1        Mysz  Elektronika    25  Używany            0.2            30.0
2  Klawiatura  Elektronika    75     Nowy            0.2            90.0
3     Monitor  Elektronika   300     Nowy            0.2           360.0
4     Książka   Literatura    30     Nowy            0.2            36.0
5    Długopis        Biuro     5     Nowy            0.2             6.0

In [70]:
#Sortowanie malejąco po kolumnie Cena_Sprzedazy
df_produkty_z_csv = df_produkty_z_csv.sort_values(by='Cena_Sprzedazy', ascending=0)
print(df_produkty_z_csv)

     Produkty    Kategoria  Cena     Stan  Marża_Procent  Cena_Sprzedazy
0      Laptop  Elektronika  1200     Nowy            0.2          1440.0
3     Monitor  Elektronika   300     Nowy            0.2           360.0
2  Klawiatura  Elektronika    75     Nowy            0.2            90.0
4     Książka   Literatura    30     Nowy            0.2            36.0
1        Mysz  Elektronika    25  Używany            0.2            30.0
5    Długopis        Biuro     5     Nowy            0.2             6.0

In [71]:
#Wyswietlenie Kategori o unikalnych wartościach
print(df_produkty_z_csv['Kategoria'].unique())

['Elektronika' 'Literatura' 'Biuro']

In [72]:
#Policzenie liczby unikatowych wartości zawartych w kolumnie Stan
print(df_produkty_z_csv['Stan'].nunique())

2