In [1]:
import pandas as pd
print("Biblioteka Pandas została zaimportowana jako pd.")

Biblioteka Pandas została zaimportowana jako pd.

In [6]:
dni_tygodnia = ['poniedziałek','wtorek','środa']
dni_tygodnia = pd.Series(dni_tygodnia)
print(dni_tygodnia)

0    poniedziałek
1          wtorek
2           środa
dtype: object

In [27]:
produkty = {
    'Nazwa': ['Suszarka', 'Lokówka', 'Żelazko', 'Pralka'],
    'Cena' : [79.99, 69.98, 49.99, 899.00],
    'Dostępność': [True, True, True, False]}
df = pd.DataFrame(produkty)
print(df)
print(f'\n{df.loc[:,'Nazwa']}')
print(f'\n{df.iloc[1]}')
print(f'\n{df[df['Cena'] > 50]}')
print(f'\n{df[df['Dostępność'] == True]}')

      Nazwa    Cena  Dostępność
0  Suszarka   79.99        True
1   Lokówka   69.98        True
2   Żelazko   49.99        True
3    Pralka  899.00       False

0    Suszarka
1     Lokówka
2     Żelazko
3      Pralka
Name: Nazwa, dtype: object

Nazwa         Lokówka
Cena            69.98
Dostępność       True
Name: 1, dtype: object

      Nazwa    Cena  Dostępność
0  Suszarka   79.99        True
1   Lokówka   69.98        True
3    Pralka  899.00       False

      Nazwa   Cena  Dostępność
0  Suszarka  79.99        True
1   Lokówka  69.98        True
2   Żelazko  49.99        True